.cameleon{
    background-color: #ce8250fa;
    color:#ffffff
}
.camel{
    background-color:#834a1be8;
    color:#ffffff
}
.pigeon{
   background-color:#ce8250fa ;
   color:#ffffff
}
.teddy{
    background-color:#834a1be8;
    color:#ffffff
}
.panda{
    background-color:#ce8250fa ;
    color:#ffffff
}
.cicada{
    background-color:#834a1be8;
    color:#ffffff
}

